<div class="card m-0">
  <div class="row align-items-center py-2 justify-content-end">
    <div class="col ps-4">
      <div class="text-strat"> © Copyright <strong><a href="https://itfuturz.in" target="_blank"
            class="text-primary" style="cursor: pointer;">ITFuturz</a></strong>. All Rights Reserved
      </div>
    </div>
    <div class="col-md-auto pe-4">
      <div class="text-center">
        <!-- <a href="assets/privacy&policy.html" target="_blank" class="text-primary fw-bold">Privacy & Policy</a> -->
      </div>
    </div>
  </div>
</div>